<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    package="com.baishengye.constraintanimation">

    <application>
        <activity
            android:name=".ConstraintAnimationActivity"
            android:exported="false"
            android:screenOrientation="landscape"/>
    </application>

</manifest>